---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Pronun-lite">
  <main>
    <div class="flex items-center justify-center w-screen h-screen">
      <div class="p-5 lg:w-1/2 w-full">
        <h1 class="text-center text-xl">404</h1>
        <p class="text-center">There's Nothing here!!</p>
      </div>
    </div>
  </main>
</Layout>
