---
import Speech from "./Speech";
---

<div class="flex items-center justify-center w-screen h-screen">
  <div class="border-2 border-purple-400 p-5 lg:w-1/2 w-full">
    <Speech client:load />
  </div>
</div>
